:root{
    --primary-color:black;
    --background-color:rgb(51, 224, 143);
    --third-color:rgb(30, 101, 110);
}
body{
    background-color: gray;
}

.mydiv{
    width: 10em;
    height: 10em;
    background-color:rgb(30, 30, 31) ;
    color: tomato;
    font-size: 24px;
}
section{
    display: flex;
    gap: 24px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}